/*---------------FOOTER-------------*/

footer{
    background-color: $color-extra;
    @include flex (flex, row, space-between, start);
    a{
        .logo-footer{
            @include tamano (75px, 75px);
        }
    }
    div{
        h2{
            color: $color-primario;
            font-size: nth($font-size, 2);
            font-weight: 900;
            margin-bottom: 10px ;
        }
        img{
            @include tamano (50px, 50px);
        }
    }
    div{
        a{
            i{
                font-size: nth($font-size, 4);
                color: nth($color, 5);
            }
        }
    }
    div{
        .contactanos{
            @include flex (flex, row, space-around, center);
            div{
                i{
                    font-size: nth($font-size, 4);
                    color: nth($color, 5);
                }
                p{
                    color: nth($color, 5);
                    font-size: nth($font-size, 1);
                    font-weight: 500;
                }
            }
        }
    }
}