/*---------------FOOTER-------------*/

footer{
    background-color: rgb(250, 206, 127);
    display: flex;
    justify-content: space-between;
    align-items: start;
    a{
        .logo-footer{
            width: 75px;
            height: 75px;
        }
    }
    div{
        h2{
            color: $color-primario;
            font-size: 20px;
            font-weight: 900;
            margin-bottom: 10px ;
        }
        img{
            width: 50px;
            height: 50px;
        }
    }
    div{
        h2{
        }
        a{
            i{
                font-size: 40px;
                color: black;
            }
        }
    }
    div{
        h2{
        }
        .contactanos{
            display: flex;
            justify-content: space-around;
            align-items: center;
            div{
                i{
                    font-size: 40px;
                    color: black;
                }
                p{
                    color: rgb(0, 0, 0) ;
                    font-size: 18px;
                    font-weight: 500;
                }
            }
        }
    }
}