/* -------------- HEADER ----------------*/


header{
    position: sticky;
    top: 0; 
    z-index: 10;
    nav{
        div{
            a{
                .logo{
                    @include tamano (100px, 100px);
                    transition: 1s;
                    &:hover{
                        transform: scale(1.1);
                    }
                }

            }
            .boton-nav{
                background-color: $color-primario;
                border: 2px white solid;
                color: nth($color, 5);
                transition: 1s;
                &:hover{
                    background-color: nth($color, 4);
                }
            }
            .nav{
                @include flex (flex, row, end, center);
                ul{
                    li{
                        .nav-enlace{
                            text-decoration: none;
                            color: rgba(255, 255, 255, 0.89);
                            font-size: nth($font-size, 3);
                            transition: 0.5s;
                            &:hover{
                                color: $color-primario;
                            }
                        }
                    }
                }
            }
        }
    }
}