/* -------------- MAIN ------------ */

/* ---- SECCION 2 ----- */

.destacado{
    width: 100%;
    background-color: $color-primario;
    color: nth($color, 4);
    @include flex (flex, row, space-evenly, center);
    padding: 10px;
    div{
        width: 60%;
        text-align: center;
        h1{
            @extend %encabezado;
        }
        h2{
            @extend %sub-titulo;
            margin-bottom: 50px;
        }
        p{
            font-size: nth($font-size, 3);
            font-weight: 300;
            margin: 20px;
        }
        .boton-destacado{
            @include flex (flex, row, center, center);
            position: relative;
            left: 200px;
            h3{
                background-color: nth($color, 4);
                color: nth($color, 5);
                border: black 2px solid;
                padding: 10px;
                margin: 10px;
            }
            .boton{
                background-color: nth($color, 5);
                transition: 0.5s;
                &:hover{
                    background-color: nth($color, 4);
                    color:  $color-primario;
                    border: 2px black solid;
                }
            }
        }
    }
    img{
        @include tamano (550px, 450px);
        border: 2px white solid;
        padding: 10px;
        @extend %sombra;
    }
}

/* ------- SECCION 3 ------ */

.nuevo{
    background-color: $color-secundario;
    color: nth($color, 4);
    padding: 20px;
    h2{
        @extend %sub-titulo;
        text-align: left;
    }
    .tarjetas{
        div{
            background-color: nth($color, 5);
            @include tamano (270px, 400px);
            border: 5px white solid;
            margin: 45px;
            @extend %sombra;
            transition: 1s;
            &:hover{
                transform: scale(1.1);
            }
            img{
                @include tamano (250px, 250px);
                padding: 10px;
            }
            h3{
                font-size: nth($font-size, 2);
                font-style: normal;
                font-weight: 500;
                margin-bottom:  30px;
            }
            a{
                background-color: $color-secundario;
                transition: 0.5s;
                &:hover{
                    background-color: $color-terciario;
                    color: $color-secundario;
                    border: 2px $color-secundario solid;
                }
            }
        }
    }
}

/*--------SECCION 4------------*/

.calzado-index{
    background-color: $color-terciario;
    color: nth($color, 4);
    padding: 20px;
    h2{
        @extend %sub-titulo;
        text-align: left;
        color: nth($color, 5);
        margin-bottom: 50px;
    }
    .tarjetas-2{
        margin: 10px;
        width: 100%;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-auto-rows: 450px;
        gap: 10px;
        .target{
            position: relative;
            border: 2px black solid;
            transition: 1s;
            &:hover{
                @extend %sombra;
                transform: scale(1.01);
            }
            img{
                @include tamano (100%, 100%);
                object-fit: cover;
            }
            a{
                h3{
                    text-decoration: none;
                    width: 100%;
                    background-color: rgba(0, 0, 0, 0.822);
                    color: nth($color, 4);
                    position: absolute;
                    bottom: 0;
                    text-align: center;
                    padding: 10px;
                    transition: 0.5s;
                    &:hover{
                        background-color: $color-secundario;
                    }
                }
            }
        }
    }
}

/* --------- ICONO WHATSAAP ----- */

.position{
    position: fixed;
    bottom: 100px;
    right: 50px;
    i{
        font-size: nth($font-size, 6);
        color: nth($color, 5);
    }
}

/* ------------ LO NUEVO -------- */

/*------- SECCION 1 ------- */

.prendas{
    background-color: $color-primario;
    color: nth($color, 4);
    @include flex (flex, column, center, center);
    padding: 50px;
    h1{
        @extend %encabezado;
    }
    h2{
        @extend %sub-titulo;
        margin: 20px;
    }
    .grid-prendas{
        width: 100%;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-auto-rows: 400px;
        gap: 16px;
        .img-1, .img-3, .img-5, .img-7{
            grid-row: span 2;
        }
        .img-galeria{
            transition: 0.5s;
            &:hover{
                transform: scale(1.02);
            }
            img{
                @include tamano (100%, 100%);
                object-fit: cover;
            }
            .precio-galeria{
                h3,h4{
                    font-size: nth($font-size, 2);
                    color: nth($color, 4);
                }
            }
            a{
                text-decoration: none;
                color: nth($color, 4);
                h5{
                    border: 2px white solid;
                    font-size: nth($font-size, 2);
                    width: 100%;
                    background-color: rgba(0, 0, 0, 0.822);
                    color: nth($color, 4);
                    text-align: center;
                    padding: 10px;
                    transition: 0.5s;
                    &:hover{
                        background-color: nth($color, 4);
                        color: $color-primario;
                        border: 2px black solid;
                    }
                }
            }
        }
    }
}

/*---------- SECCION 2 ---------- */

.botas{
    background-color: $color-secundario;
    color: nth($color, 4);
    @include flex (flex, column, center, center);
    padding: 50px;
    h2{
        @extend %sub-titulo;
        margin: 20px;
    }
    .grid-botas{
        width: 100%;
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-auto-rows: 500px;
        gap: 15px;
        .img-galeria{
            transition: 2s;
            &:hover{
                transform: scale(1.05);
            }
            img{
                @include tamano (100%, 100%);
                object-fit: cover;
            }
            .precio-galeria{
                h3,h4{
                    font-size: nth($font-size, 2);
                    color: nth($color, 4);
                }
            }
            a{
                text-decoration: none;
                color: nth($color, 4);
                h5{
                    border: 2px white solid;
                    font-size: nth($font-size, 2);
                    width: 100%;
                    background-color: rgba(0, 0, 0, 0.822);
                    color: nth($color, 4);
                    text-align: center;
                    padding: 10px;
                    transition: 0.5s;
                    &:hover{
                        background-color: nth($color, 4);
                        color: $color-primario;
                        border: 2px black solid;
                    }
                }
            }
        }
    }
}

/*-------------CALZADO----------------*/

.calzado{
    background-color: $color-primario;
    color: nth($color, 4);
    text-align: center;
    h1{
        @extend %encabezado;
    }
    h2{
        color: nth($color, 4);
        @extend %sub-titulo;
        padding: 10px;
    }
    .adidas{
        background-color: $color-primario;
    }
    .tarjetas-flex{
        @include flex (flex, row, space-around, center);
        flex-wrap: wrap;
        div{
            background-color: nth($color, 5);
            @include tamano (270px, 400px);
            border: 5px white solid;
            margin: 40px;
            @extend %sombra;
            img{
                @include tamano (250px, 250px);
                padding: 10px;
            }
            h3{
                font-size: nth($font-size, 1);
                font-style: normal;
                font-weight: 500;
                margin-bottom: 30px;
            }
            h4{
                background-color: nth($color, 4);
                color: nth($color, 5);
                padding: 10px;
                display: inline-block;
                font-size: nth($font-size, 1);
                font-style: normal;
                font-weight: 500;
            }
            .boton{
                background-color: $color-secundario;
                transition: 0.5s;
                &:hover{
                background-color: $color-terciario;
                color:  $color-secundario;
                border: 2px rgb(145, 31, 39) solid;
                }
            }
        }
    }
    .nike{
        background-color: $color-secundario;
    }
    .otras-marcas{
        background-color: $color-terciario;
        h2{
            @extend %sub-titulo;
            color: nth($color, 5);
        }
    }
}


/* ---------- INDUMENTARIA -------------*/

.ropa{
    background-color: $color-primario;
    color: nth($color, 4);
    h1{
        @extend %encabezado;
    }
    .adidas{
        h2{
            color: nth($color, 4);
            @extend %sub-titulo;
            padding: 10px;
        }
        .tarjetas{
            div{
                background-color: nth($color, 5);
                @include tamano (270px, 400px);
                border: 5px white solid;
                margin: 45px;
                @extend %sombra;
                img{
                    @include tamano (250px, 250px);
                    padding: 10px;
                }
                h3{
                    font-size: nth($font-size, 1);
                    font-style: normal;
                    font-weight: 500;
                    margin-bottom: 30px;
                }
                h4{
                    background-color: nth($color, 4);
                    color: nth($color, 5);
                    padding: 10px;
                    display: inline-block;
                    font-size: nth($font-size, 1);
                    font-style: normal;
                    font-weight: 500;
                }
                .boton{
                    background-color: $color-secundario;
                    transition: 0.5s;
                    &:hover{
                    background-color: $color-terciario;
                    color:  $color-secundario;
                    border: 2px rgb(145, 31, 39) solid;
                    }
                }
            }
            p{
                font-size: nth($font-size, 2);
                font-weight: 700;
                padding: 10px;
                .parrafo-3{
                    color: nth($color, 5);
                }
            }
        }
    }
    .nike{
        background-color: $color-secundario;
        h2{
            color: nth($color, 4);
            @extend %sub-titulo;
            padding: 10px;
        }
        .tarjetas{
            div{
                background-color: nth($color, 5);
                @include tamano (270px, 400px);
                border: 5px white solid;
                margin: 45px;
                @extend %sombra;
                img{
                    @include tamano (250px, 250px);
                    padding: 10px;
                }
                h3{
                    font-size: nth($font-size, 1);
                    font-style: normal;
                    font-weight: 500;
                    margin-bottom: 30px;
                }
                h4{
                    background-color: nth($color, 4);
                    color: nth($color, 5);
                    padding: 10px;
                    display: inline-block;
                    font-size: nth($font-size, 1);
                    font-style: normal;
                    font-weight: 500;
                }
                .boton{
                    background-color: $color-secundario;
                    transition: 0.5s;
                    &:hover{
                    background-color: $color-terciario;
                    color:  $color-secundario;
                    border: 2px rgb(145, 31, 39) solid;
                    }
                }
            }
            p{
                font-size: nth($font-size, 2);
                font-weight: 700;
                padding: 10px;
                .parrafo-3{
                    color: nth($color, 5);
                }
            }
        }

    }
    .otras-marcas{
        background-color: $color-terciario;
        color: nth($color, 5);
        h2{
            color: nth($color, 5);
            @extend %sub-titulo;
            padding: 10px;
        }
        .tarjetas{
            div{
                background-color: nth($color, 5);
                @include tamano (270px, 400px);
                border: 5px white solid;
                margin: 45px;
                @extend %sombra;
                img{
                    @include tamano (250px, 250px);
                    padding: 10px;
                }
                h3{
                    font-size: nth($font-size, 1);
                    font-style: normal;
                    font-weight: 500;
                    margin-bottom: 30px;
                    color: nth($color, 4);
                }
                h4{
                    background-color: nth($color, 4);
                    color: nth($color, 5);
                    padding: 10px;
                    display: inline-block;
                    font-size: nth($font-size, 1);
                    font-style: normal;
                    font-weight: 500;
                }
                .boton{
                    background-color: $color-secundario;
                    transition: 0.5s;
                    &:hover{
                    background-color: $color-terciario;
                    color:  $color-secundario;
                    border: 2px rgb(145, 31, 39) solid;
                    }
                }
            }
            p{
                font-size: nth($font-size, 2);
                font-weight: 700;
                padding: 10px;
                }
            }
        }
    }

/*------------- LOCALES ----------*/
/*--------- SECCION 1 --------*/

.locales{
    background-color: $color-primario;
    color: nth($color, 4);
    text-align: center;
    h1{
        @extend %encabezado;
        display: inline-block;
        margin: 30px;
    }
    div{
        h2{
            color: nth($color, 4);
            @extend %sub-titulo;
            padding: 10px;
        }
    } 
}

/*--------- SECCION 2 ------------*/

.proximos{
    background-color: $color-secundario;
    @include tamano (100%, 40vh);
    color: nth($color, 4);
    padding: 20px;
    h2{
        @extend %sub-titulo;
        margin-bottom: 30px;
    }
    p{
        font-size: nth($font-size, 2);
        margin: 20px;
    }
}


/*---------- CONTACTO ---------- */


.contacto{
    background-color: $color-primario;
    color: nth($color, 4);
    text-align: center;
    h1{
        @extend %encabezado;
        display: inline-block;
        margin: 30px;
    }
    p{
        font-size: nth($font-size, 2);
        margin: 30px;
    }
    .formulario{
        @include flex (flex, row, center, center);
        form{
            background-color: nth($color, 5);
            border: 5px white solid;
            padding: 20px 10px 20px 10px;
            margin-bottom: 25px;
            @include tamano (90%, 100%);
        }
    }
}